.hidden {
    display: none;
}
.content {
    margin: 1em;
}
.threesome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.column {
    margin: 0 1em;
}
.center {
    display: flex;
    justify-content: center;
}
.additional {
    margin: 1em;
}