{% extends "index.html" %}
{% block title %}Конфигурирование{% endblock title %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'css/configuration.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<form action="/do_search" method="post" enctype="multipart/form-data" class="d-grid gap-2">
    <div class="threesome">
        <div class="words column">
            <h3>Список слов</h3>
            <textarea id="list" rows="9" name="words"></textarea>
        </div>
        <div class="sites column">
            <h3>Список сайтов</h3>
            <textarea id="list" rows="9" name="sites" class="hidden"></textarea>
            <input type="file" name="file" id="file" value="Выбрать файл">
        </div>
        <div class="settings column">
            <h3>Настройки</h3>
            <fieldset>
                <legend>
                    Откуда брать список сайтов
                </legend>
                <p>
                    <label>
                        <input type="radio" name="mode" class="choose_mode" id="file_mode" value="file" checked>
                        Из файла
                    </label>
                </p>
                <p>
                    <label>
                        <input type="radio" name="mode" class="choose_mode" id="list_mode" value="list">
                        Из списка
                    </label>
                </p>
            </section>
        </div>
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-secondary">Запуск</button>
    </div>
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}
<script type="text/JavaScript" src="{{ url_for('static', filename='js/configuration.js') }}"></script>
{% endblock scripts %}