{% extends "index.html" %}
{% block title %}Ошибка{% endblock title %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'css/error.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<p>
    При попытке запуска возникла непредвиденная ошибка.
</p>

<p>
    Проверьте корректность введенных данных.
</p>

<p>
    <a href="{{ request.referrer }}">Назад</a>
</p>

{% endblock content %}