{% extends "index.html" %}
{% block title %}История поиска{% endblock title %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'css/history.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<h2>
    История поиска
</h2>
<form action="/clear_history" method="post" name="main_data_form" id="main_data_form" enctype="multipart/form-data">
    <div class="main data">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Источник</th>
                    <th>Дата</th>
                    <th>Результат</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td><a href="static/uploads/{{ item.source }}">{{ item.source }}</a></td>
                    <td>{{ item.date.strftime("%d.%m.%Y") }}</td>
                    <td><a class="text-break" href="/item_history/{{ item.id }}">{{ item.result}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button" onclick="clear_confirm()">Очистить</button>
    </div>
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}
<script type="text/JavaScript" src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock scripts %}