<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Главная страница{% endblock title %}</title>

    {% block styles %}
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/bootstrap/bootstrap.css.map') }}" rel="stylesheet">
    {% endblock styles %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">На главную</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/configuration">Конфигурация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">История</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        <p>
            Данное приложение работает с файлами, которые генерирует <a href="https://web.scan-interfax.ru/"
                target="_blank">Scan Interfax</a>.
        </p>
        <p>Приложение разработал <a href="mailto:dev.stolnikov@ya.ru">Стольников К.Ю.</a></p>
        <p>Версия: <u>1.0.0</u> от <u>02.04.2023</u></p>
        {% endblock content %}
    </div>

</body>

{% block scripts %}

<script type="text/JavaScript" src="{{ url_for('static', filename='js/jquery/jquery-2.1.4.min.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.js.map') }}"></script>

{% endblock scripts %}

</html>