{% extends "index.html" %}
{% block title %}Подробно{% endblock title %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'css/item_history.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<a href="{{ request.referrer }}">Назад</a>
<form action="/export_report/{{ id }}" method="post">
    <h2>
        История поиска
    </h2>

    <div>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr class="sticky-top">
                    <th class="header" scope="col">№</th>
                    <th class="header" scope="col">Слово</th>
                    <th class="header" scope="col">Подзаголовок</th>
                    <th class="header" scope="col">Выдержка</th>
                    <th class="header" scope="col">Ссылка на источник</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.word }}</td>
                    <td>{{ item.title }}</td>
                    <td><span>{{ item.header }}</span><p><a href="/more/{{ item.id }}">подробнее..</a></p></td>
                    <td><a class="text-break" href="{{ item.link }}" target="blank">{{ item.link}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-secondary">Выгрузить отчет</button>
    </div>
</form>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script type="text/JavaScript" src="{{ url_for('static', filename='js/item_history.js') }}"></script>
{% endblock scripts %}