{% extends "index.html" %}
{% block title %}Подробно{% endblock title %}


{% block content %}
<a href="{{ request.referrer }}">Назад</a>
<div class="main data">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr class="sticky-top text-nowrap">
                <th class="header" scope="col">Слово</th>
                <th class="header" scope="col">Подзаголовок</th>
                <th class="header" scope="col">Заголовок</th>
                <th class="header" scope="col">Выдержка</th>
                <th class="header" scope="col">Ссылка на источник</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{ item.word }}</td>
                <td scope="row">{{ item.title }}</td>
                <td scope="row">{{ item.header }}</td>
                <td scope="row">{{ item.text }}</td>
                <td scope="row"><a class="text-break" href="{{ item.link }}" target="blank">{{ item.link}}</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
